*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#f4f4f4;
}

a{
    text-decoration: none;
    color: white;
}

/* NAVBAR */
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#fff;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.logo{
    width: 80px;
    height: 80px;

}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav ul li{
    cursor:pointer;
    font-size:14px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.btn{
    padding:18px 18px;
    border-radius:20px;
    border:none;
    cursor:pointer;
    background:#2d6cdf;
    color:#fff;
    transition:0.3s;
}

.btn:hover{
    background:#1c4fb6;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 80px;
    background:#e9edf3;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:38px;
    line-height:1.3;
}

.hero-text span{
    color:#2d6cdf;
}

.hero-text p{
    margin:20px 0;
    color:#555;
}

.hero img{
    width:350px;
    border-radius:10px;
}

/* SECTION COURS */
.section-title{
    text-align:center;
    margin:40px 0 20px;
    font-size:22px;
}

.section-title span{
    color:#2d6cdf;
}

.courses{
    background:#9fbbe3;
    padding:50px;
}

.course a{
    color: black;
}

.course-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
}

.card{
    background:#fff;
    border-radius:15px;
    padding:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    border-radius:10px;
}

.card h3{
    margin:10px 0;
}

.price{
    color:#2d6cdf;
    font-weight:bold;
}

.more{
    text-align:right;
    margin-top:30px;
    cursor:pointer;
}


/* pages */
.pages{
    background:#eee;
    padding:40px;
}

.pages-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.pages-box{
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.05);
}

.pages-box:hover{
    transform: translateY(-5px);
    cursor: pointer;
    transition: 0.3s ease;
}

/* Contacts */

.contact-section{
    width:90%;
    margin:80px auto;
    background:#fff;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-section h2{
    text-align:center;
    margin-bottom:20px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid #ccc;
}

.button{
    width:100%;
    padding:10px;
    background:#2d6cdf;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.button:hover{
    background:#1c4fb6;
}

/* Footer */

.footer{
    background:#435d8f;
    color:#fff;
    padding:50px 20px 20px;
}

.logo1{
    width: 120px;
    height: 120px;
}

.footer-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
    max-width:1100px;
    margin:auto;
}

.footer-box h3{
    margin-bottom:15px;
}


.footer-box p{
    font-size:14px;
    line-height:1.6;
    color:#cbd5e1;
}

.footer-box ul{
    list-style:none;
}

.footer-box ul li{
    margin-bottom:8px;
}

.footer-box ul li a{
    text-decoration:none;
    color:#cbd5e1;
    font-size:14px;
    transition:0.3s;
}

.footer-box ul li a:hover{
    color:#2d6cdf;
}

.social-icons{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.social-icons a{
    text-decoration:none;
    color:#cbd5e1;
    font-size:14px;
    transition:0.3s;
}

.social-icons a:hover{
    color:white;
}

.footer-bottom{
    text-align:center;
    margin-top:40px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.2);
    font-size:13px;
    color:#cbd5e1;
}

.social-icons{
    display:flex;
    gap:15px;
    flex-direction: row;
    margin-top:10px;
}

.social-icons a{
    width:40px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#334155;
    color:white;
    border-radius:50%;
    transition:0.3s;
    font-size:16px;
}

.social-icons a:hover{
    background:#2d6cdf;
    transform:translateY(-5px);
}