/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POLICE GLOBALE */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* VARIABLES CSS */
:root {
    /* couleurs */
    --primary-color: rgb(167, 208, 244);
    --secondary-color: #ffffff;
    --own-color: #2C74D6;

    /* tailles de police */
    --font-small: 1rem;
    --font-medium: 1.5rem;
    --font-bold: 2rem;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 1000;
}

.entete {
    background-color: var(--primary-color);
    color: white;
}

/* NAVIGATION */
.entete .nav-bar .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 20px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: var(--font-small);
}

/* LOGO IMAGE */
.img {
    height: 120px;
    width: 120px;
}

/* MAIN */
main {
    padding-top: 120px; /* espace pour le header fixe */
}

/* TITRES */
.title {
    text-align: center;
    padding: 20px;
    line-height: 1.5;
}

.title h2 {
    font-size: var(--font-bold);
    font-weight: 700;
}

.title h3 {
    font-size: var(--font-small);
    font-weight: 400;
    margin-top: 10px;
}

.color-title {
    color: var(--own-color);
}

/* SECTION DESCRIPTION */
.section-description {
    background-color: var(--secondary-color);
    padding: 40px 20px;
}

.container-image .titre{
    text-align: center;
    padding-bottom: 40px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: auto;
}

/* IMAGE DESCRIPTION */
.img-description {
    height: 320px;
    width: 500px;
    object-fit: contain;
}

/* TEXTE DESCRIPTION */
.description p {
    max-width: 400px;
    font-size: var(--font-small);
    line-height: 1.6;
}

.description2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 40px;
}

.description2 p {
    max-width: 400px;
    font-size: var(--font-small);
    line-height: 1.6;
}


.container-image {
    max-width: 1100px;
    margin: 60px auto;
}

.image-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
}

.image-list .list {
    text-align: center;
}

.image-list .image {
    height: 220px;
    width: auto;
    object-fit: contain;
}

.list h3 {
    margin-top: 15px;
    font-size: var(--font-small);
}

/* RESPONSIVE MOBILE */
@media (max-width: 768px) {
    header {
        height: 100px;
    }

    .entete .nav-bar .nav-list {
        height: 100px;
    }

    .img {
        height: 80px;
        width: 80px;
    }

    main {
        padding-top: 120px;
    }

    .description {
        flex-direction: column;
        text-align: center;
    }

    .img-description {
        width: 100%;
        height: auto;
    }

    .title h2 {
        font-size: 1.7rem;
    }

    .description2{
        flex-direction: column;
        text-align: center;
    }

    .image-list {
        flex-direction: column;
        align-items: center;
    }


}

